.profile-image{
    height:350px;
    width:350px;
    border-radius: 50%;
    overflow:hidden;
    object-fit:cover;
}

@media only screen and (max-width: 768px){
    .basic-profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
}

@media only screen and (max-width: 500px){
    
    .basic-profile-data{
        display: flex;
        flex-direction: column;
    }
    
}