.Navbar-color {
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.0px );
  -webkit-backdrop-filter: blur( 8.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}
.links{
  padding:0% 2% 0% 2%;
  text-decoration: none;
  font-size:18px;
  color:black;
  letter-spacing:1.5px;
}
.active{
  font-weight: bold;
  color:#fff;
   text-shadow:
     0 0 15px #fff,
     0 0 25px #fff,
     0 0 35px #fff;
}

.toggle{
  display:block;

}
.small-div{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
  .hidden{
    display: none;
  }
  .show-ham{
    display: none;
  }

@media only screen and (max-width:768px){
  .Navbar-color {
    padding:2%;
  }
  .navbar-right{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav{
    display: none;
  }
 .toggle{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
 }
 .show-ham{
   display: block;
 }
 .links{
   padding:3%;
 }
 .ham-active{
   display: flex;
   justify-content: flex-end;
 }
 .small-div{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }
}
